/*temporary*/
body {
  background-color: #e5e5e5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  font: inherit;
}

/* Remove outline on the forms and links */

* :active,
:hover,
:focus,
input {
  outline: 0;
  outline-offset: 0;
}

//  Responsive images  //

/** {
  picture {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .imageBox {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}*/

img {
  width: 100%;
  height: auto;
}

.container {
  background-color: #fff;
  max-width: 1360px;
}

.mainWrapper {
  width: 1360px;
  margin-left: auto;
  margin-right: auto;
}
