.card {
  width: 320px;
  border: 1px solid #cbd1e0;
  border-radius: 4px;
}

.cardScreen {
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  width: 100%;
}

.cardScreenImg {
  border-radius: 4px 4px 0 0;
  width: 100%;
}

.cardDescription {
  background-color: #ffffff;
  padding: 20px 18px;
  border-radius: 0 0 4px 4px;
}

.cardText {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  max-height: 66px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.btnCard {
  margin-right: 10px;
}

.btnCard:last-child {
  margin-right: 0;
}

/*for video cards only*/
.cardScreenVideo {
  position: relative;
}

.cardScreenVideo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/images/icon/video-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/*for article card only*/
.cardTitle {
  color: #1a051d;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 14px;
}

/*Card big size*/
.cardPost {
  width: 100%;
  max-width: 992px;
}
